html {
    font-family: "Roboto";
    font-size: 40px;
    color: white;
}

body { 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px;
}

header {
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #011827;
    font-size: 0.5rem;
}

.header_esc_logo {
    padding-left: 20px;
    width: 26%;
}

.header_text {
    padding-left: 20px;
    flex-direction: row;
    width: 20%;
    
}

.hacker_image {
    width: 100%;    
}

.OnSiteOnline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 37px;    
}

.onSite {
    display: flex;
    background-color: #8acfe5;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #011827;
    font-weight: bold;
    font-size: 20px;
    width: 308px;
    height: 66px;
    border-radius: 5px;
}

.online {
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #36769d;
}

.johnDoe {
    display: grid;
    max-width: 439px;
    max-height: 122px;
    width: 80%;    
    grid-template-columns: 30% 70%;
    grid-template-rows: 25% 25% 25% 25%;    
    margin-top: 20px;
    color: black;       
}

.johnDoe_portrait {
    grid-column: 1;
    grid-row: 1 / span 3;
    
}

.johnDoe_bigText {
    grid-column: 2;
    grid-row: 1 / span 3;
    font-size: 17px;
}

.johnDoe_smallText {
    grid-column: 2;
    grid-row: 4;
    font-size: 10px;
    
}

.popularChallenges {
    color: black;
    font-size: 0.6rem;
    font-weight: 400;
    padding-top: 50px;
}

.tiles_wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    
}

.tile {
    flex-direction: column;
    flex: 0 0 auto;
    width: 363px;
    height: 446px;
    max-width: 363px;
    width: 90%;
    margin-left: 20px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px #b6bdb5; 
    color: black;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 5px;
}

.tile_image {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.tile_roomTitle {
    padding-left: 10px;
    margin-top: 10px;
}

.tile_stars {    
    object-fit: contain;
    margin-left: 10px;   
}

.tile_participants {
    font-size: 13px;
    padding-right: 20%;
}

.tile_roomInfo {
    font-size: 18px;    
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 400;
    
}

.tile_book {
    color: #ffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    background-color: #e3170a;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 35px 12px 35px;
    margin-left: 45%;
              
}

.middleDivider {
    display: flex;
    flex-direction: column;
    align-items: center;       
    background-color: #011827;
    width: 100%;
    height: 20em;
    font-size: 20px;
    margin-top: 30px;
    
}

.middleDivider_text {
    margin-top: 15%;
    width: 80%;
    text-align: center;

}

.middleDivider_readstory {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #8acfe5;
    padding: 15px 55px 15px 55px;
    border: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: #8acfe5;
    margin-top: 40px;    
}

.bottomHalfInfoContainers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomHalfImageContainer {
    width: 100%;
    height: auto;
    height:auto; 
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    display: inline-block;   
}

.bottomHalfImages {
    display: block;
    position: relative;
    top: -10px;    
    width: 100%;    
    height: auto;
    
}

.bottomHalfHeadlines {
    display: flex;
    text-align: justify;
    color: #000;
    font-size: 32px;
    font-weight: 700;
    margin: 10px 20px 0px 20px;
}

.bottomHalfText {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    margin: 10px 20px 20px 20px;
}