html {
    font-family: "Roboto";
    font-size: 40px;
    color: white;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px;
}

header, .header_logoText_container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    background-color: #011827;    
}

.header_text_container{    
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0;        
}

.header_hamMenuContainer {       
    display: flex;
    flex-direction: column;
    z-index: 1;         
}

.header_hamMenu {
    height: 50px;
    width: 50px;
    position: relative;       
}

.header_hamMenu span {
    width: 100%;
    height: 5px;    
    border-radius: 5px;    
    position: absolute;
    top: 50%;
    left: -40%;    
    background-color: white;
    margin-top: 20%;

}

.header_hamMenu span:nth-child(1) {
    top: 25%; 
}

.header_hamMenu span:nth-child(3) {
    top: 75%;
}

.header_hamMenu.active span:nth-child(1) {
    opacity: 0;
    top: 100%;
    left: -30px;
    transform: translate(0, 0);
    transform: rotate(45deg);
    animation: fadein 300ms;
    animation-delay: 150ms;
    animation-fill-mode: forwards;
}

.header_hamMenu.active span:nth-child(2) {
    opacity: 0;      
}

.header_hamMenu.active span:nth-child(3) {
    opacity: 0;     
    top: 100%;
    left: -30px;
    transform: rotate(-45deg);
    animation: fadein 300ms;
    animation-delay: 150ms;
    animation-fill-mode: forwards;
}

.header_mobileMenuContainer {
    opacity: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);    
    width: 100%;
    height: 100%;
    display: flex;    
}

.header_mobileMenuContainer.active {
    animation: fadein 300ms;    
    animation-fill-mode: forwards; 
}

.header_mobileMenu {
    opacity: 0;   
    width: 90%;
    height: 95%;
    position: relative;
    background-color: #011827;
    left: 5%;
    top: 23px;
    display: flex;
    box-shadow: 0px 0px 5px 2px #676966;
            
}

.header_mobileMenu.active {
    animation: fadein 300ms;
    animation-delay: 150ms;
    animation-fill-mode: forwards; 
}

.header_mobileMenu ul {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.header_mobileMenu li {
    list-style-type: none;
    font-weight: 700;
    font-size: 36px;
    margin-top: 50px;
}

.header_nav {
    display: none;
}

.header_esc_logo {
    margin-left: 27px;
    margin-top: 26px;
    margin-bottom: 36px;
    width: 128px;
    height: 82px;
}

.header_text {
    font-size: 24px;
    padding-left: 13px;
    margin-top: 25px;
    margin-right: 80%;                 
}

.hacker_image {
    width: 100%;    
}

.topHalf_OnSiteOnline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 37px;    
}

.topHalf_OnSiteOnline_lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 37px;    
}

.onSite {
    display: flex;
    background-color: #8acfe5;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #011827;
    font-weight: bold;
    font-size: 20px;
    width: 308px;
    height: 66px;
    border-radius: 5px;
}

.online {
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #36769d;
}

.topHalf_johnDoeContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

.topHalf_johnDoe {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    max-width: 439px;
    max-height: 122px;
    width: 80%;    
    grid-template-columns: 30% 70%;
    grid-template-rows: 25% 25% 25% 25%;    
    margin-top: 20px;
    color: black;       
}

.topHalf_johnDoe_two{
    display: none;
}

.topHalf_johnDoe_portrait {
    grid-column: 1;
    grid-row: 1 / span 3;
    
}

.topHalf_johnDoe_bigText {
    grid-column: 2;
    grid-row: 1 / span 3;
    font-size: 17px;
}

.topHalf_johnDoe_smallText {
    grid-column: 2;
    grid-row: 4;
    font-size: 10px;
    
}

.topHalf_popularChallenges {
    color: black;
    font-size: 0.6rem;
    font-weight: 400;
    margin-top: 105px;
    margin-bottom: 34px;
    
}

.topHalf_tiles_wrapper {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    
}

.tile {
    flex-direction: column;
    flex: 0 0 auto;
    width: 363px;
    height: 446px;
    max-width: 363px;
    width: 90%;
    margin-left: 20px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 2px #b6bdb5; 
    color: black;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
}

.tile_image {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.tile_roomTitle {
    padding-left: 10px;
    margin-top: 10px;
}

.tile_stars {    
    object-fit: contain;
    margin-left: 10px;   
}

.tile_participants {
    font-size: 13px;
    padding-right: 20%;
}

.tile_roomInfo {
    font-size: 18px;    
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 400;    
}

.tile_book {
    color: #ffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    background-color: #e3170a;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 35px 12px 35px;
    margin-left: 45%;              
}

.middleDivider {
    display: flex;
    flex-direction: column;
    align-items: center;       
    background-color: #011827;
    width: 100%;
    height: 20em;
    font-size: 20px;
    margin-top: 30px;    
}

.middleDivider_textContainer {
    width: 100%;
    display: flex;
    align-items:center;
}

.middleDivider_text {
    margin-top: 15%;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.middleDivider_readstory {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #8acfe5;
    padding: 15px 55px 15px 55px;
    border: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: #8acfe5;
    margin-top: 40px;    
}

.bottomHalf_infoContainers_top {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.bottomHalf_infoContainers_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}

.bottomHalf_imageContainer {
    width: 100%;
    height: auto;
    height:auto; 
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    display: inline-block;   
}

.bottomHalf_images {
    display: block;
    position: relative;
    top: -13px;    
    width: 100%;    
    height: auto;    
}

.bottomHalf_headlines {
    display: flex;
    text-align: left;
    color: #000;
    font-size: 32px;
    font-weight: 700;
    margin: 20px 20px 10px 20px;
}

.bottomHalf_text {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    margin: 10px 20px 30px 20px;
}

.bottomHalf_onSite {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #ffff;
    background-color: #e3170a;
    padding: 19px 52px 19px 52px;
    margin-left: 20px;
    margin-top: 25px;
    border-radius: 4px;   
}

.bottomHalf_seeAllChallenges {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #ffff;
    background-color: #e3170a;
    padding: 19px 56px 19px 56px;
    margin-left: 20px;
    margin-top: 25px;
    border-radius: 4px;
}

footer {
    background-color: #011827;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 98px;
}

.footer div {
    display: flex;
    flex-direction: column;
}

.footer_headlines {
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 7px;
    margin-left: 20px;    
}

.footer_text {
    font-size: 18px;
    margin: 0px;
    margin-top: 7px;
    margin-left: 20px;
}

.footer_links {
    color: #ffff;
    font-size: 18px;
    text-decoration: none;
    margin-left: 20px;
}

.break {
    width: 100%;
    height: 18px
}

@keyframes fadein {
    0% {opacity: 0%}
    100% {opacity: 100%}
}

@keyframes fadeout {
    0% {opacity: 100%}
    100% {opacity: 0%}
}